# Declaring a list

In [144]:
lst = ["Chitrakshi", "Gosain", 19, ["chitrakshi", 6072, "@", "gmail", ".", "com"], "New Delhi"]

# Implementing various methods of 'List' Object

# -> Append

In [145]:
# Adds an element to the end of a list
# Syntax: list.append(item)
# 'item' can be numbers, strings, dictionaries, another list, etc.
# This method doesn't return any value.

In [146]:
lst.append("UNSW Sydney")
lst

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney']

In [147]:
lst1 = ["My Introduction"]
lst1.append(lst)
lst1

['My Introduction',
 ['Chitrakshi',
  'Gosain',
  19,
  ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
  'New Delhi',
  'UNSW Sydney']]

# -> Copy

In [148]:
# Makes a shallow copy of the list
# Syntax: new_list = old_list.copy()
# This method does not take any parameters.
# This method returns a new list. It doesn't modify the original list.

In [149]:
lst2 = lst.copy()
lst2

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney']

# -> Clear

In [150]:
# Clears the list
# Syntax: list.clear()
# This method does not take any parameters.
# This method only empties the given list. It doesn't return any value

In [151]:
lst1.clear()
lst1

[]

In [152]:
lst

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney']

# -> Count

In [153]:
# Counts the number of times the specified element appears in the list.
# Syntax: old_list.count(element)
# 'element' - the element to be counted
# This method returns the number of times 'element' appears in the list.

In [154]:
lst.count(19)

1

In [155]:
lst.count("Gosain")

1

In [156]:
lst.count("@")

0

In [157]:
# We can also count list(s), set(s) or tuple(s) within the list
lst.count(['chitrakshi', 6072, '@', 'gmail', '.', 'com'])

1

# -> Extend

In [158]:
# Adds all the elements of an iterable (list, tuple, string, set etc.) to the end of the list
# Syntax: list.extend(iterable)
# This method takes an 'iterable' such as list, tuple, string, set etc.
# This method modifies the original list. It doesn't return any value.

In [159]:
lst1 = ["Student"]
lst.extend(lst1)
lst

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney',
 'Student']

In [160]:
tpl = ("This", "is")
lst.extend(tpl)
lst

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney',
 'Student',
 'This',
 'is']

In [161]:
st = {"my", "introduction", "my"}
lst.extend(st)
lst

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney',
 'Student',
 'This',
 'is',
 'my',
 'introduction']

# -> Index

In [162]:
# Returns the index of the specified element in the list
# Syntax: list.index(element, start, end)
# 'element' - the element to be searched
# 'start' (optional) - start searching from this index
# 'end' (optional) - search the element up to this index
# This method only returns the first occurrence of the matching element.
# If the element is not found, a 'ValueError: 'element' is not in list' exception is raised.

In [163]:
lst.index(19)

2

In [164]:
lst.index("Gosain")

1

In [165]:
lst.index(['chitrakshi', 6072, '@', 'gmail', '.', 'com'])

3

In [166]:
lst.index("@")

ValueError: '@' is not in list

# -> Insert

In [167]:
# Inserts an element to the list at the specified index
# Syntax: list.insert(i, elem)
# 'elem' is inserted to the list at the 'i'th index. All the elements after 'elem' are shifted to the right.
# This method doesn't return anything. It only updates the current list.
# If index is 0, 'elem' is inserted at the beginning of the list

In [168]:
lst.insert(6, "Bachelor of CS and Neuroscience")
lst

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney',
 'Bachelor of CS and Neuroscience',
 'Student',
 'This',
 'is',
 'my',
 'introduction']

# -> Pop

In [169]:
# Removes the item at the given index from the list and returns the removed item
# Syntax: list.pop(index)
# 'index' - the position of item to be removed
# 'index' is optional
# When 'index' is not specified it pops the last item i.e. the one at index '-1'
# If the index passed to the method is not in range, it throws 'IndexError: pop index out of range' exception.
# This method returns the item present at the given index. This item is also removed from the list.

In [170]:
lst.pop()

'introduction'

In [171]:
lst.pop(-2)

'is'

In [172]:
lst.pop(20)

IndexError: pop index out of range

# -> Remove

In [173]:
# Removes the first matching element (which is passed as an argument) from the list
# Syntax: 
# list.remove(element)
# 'element' - the item from list to be removed
# If the element doesn't exist, it throws 'ValueError: list.remove(x): x not in list' exception.
# This method doesn't return any value.

In [174]:
lst.remove("my")
lst

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney',
 'Bachelor of CS and Neuroscience',
 'Student',
 'This']

# -> Reverse

In [175]:
# Reverses the elements of the list
# Syntax: list.reverse()
# This method doesn't take any arguments
# This method doesn't return any value. It updates the existing list

In [176]:
lst.reverse()
lst

['This',
 'Student',
 'Bachelor of CS and Neuroscience',
 'UNSW Sydney',
 'New Delhi',
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 19,
 'Gosain',
 'Chitrakshi']

In [177]:
# A double reverse would mean keep the original order of list intact
lst.reverse()
lst

['Chitrakshi',
 'Gosain',
 19,
 ['chitrakshi', 6072, '@', 'gmail', '.', 'com'],
 'New Delhi',
 'UNSW Sydney',
 'Bachelor of CS and Neuroscience',
 'Student',
 'This']

# -> Sort

In [178]:
# Sorts the elements of a given list in a specific ascending or descending order
# Syntax: list.sort(key=..., reverse=...)
# parameters 'key' and 'reverse' are optional
# 'reverse' - If 'True', the **sorted list is reversed** (or sorted in Descending order)
# 'key' - function that serves as a key for the sort comparison
# This method doesn't return any value rather it changes the original list.
# IMPORTANT: This method only works with similar datatypes.

In [179]:
lst.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [180]:
lst.remove(19)
lst.remove(['chitrakshi', 6072, '@', 'gmail', '.', 'com'])
lst.sort()
lst

['Bachelor of CS and Neuroscience',
 'Chitrakshi',
 'Gosain',
 'New Delhi',
 'Student',
 'This',
 'UNSW Sydney']

In [181]:
lst1 = [3, 2, 31]
lst1.sort()
lst1

[2, 3, 31]